.acf-facebook-reviews {
  .component-container {
    margin-top: 60px;
    margin-bottom: 30px;
    .share-example-header {
      @include adelle-semibold;
      text-align: center;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 72px;
      color: $primary-navy;
    }
    .facebook-review-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-right: -12px;
    }
    @include media($tablet-up) {
      .share-example-header {
        font-size: 34px;
        line-height: 38px;
        margin-bottom: 90px;
      }
      margin-top: 87px;
      margin-bottom: 110px;
    }
    @include media($desktop-up) {
      .facebook-review-container {
        margin-right: -24px;
      }
    }
  }
}