

.archive-preview-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  .outer-archive-post-wrapper {
    @include hover-lift;

    flex: 1 0 360px;
    @include media($desktop-up) {
      flex: 1 0 33.33%;
    }
    .archive-post-preview {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 312px;
      height: 100%;
      @include ie-fix {
        // IE 10/11 don't support min-height: https://github.com/philipwalton/flexbugs#flexbug-3
        min-height: auto;
        height: 340px;
      }
      padding: 45px 40px;
      .button {
        align-self: flex-start;
      }


      // theming
      .header, .excerpt p {
        color: $white;
      }
      .header {
        @include adelle-semibold;
        font-size: 24px;
        line-height: 30px;
      }
      .excerpt p {
        @include muli-regular;
        font-size: 14px;
        line-height: 20px;
        margin: 12px 0;
        a {
          display: none;
        }
      }
    }
  }
}