/*=============================================>>>>>
= Body font colour =
===============================================>>>>>*/
$textcolor: #222;
$white: #ffffff;
/*=============================================>>>>>
= Brand colours =
===============================================>>>>>*/
$primary-navy: #08415C;
$primary-blue: #16B2DE;
$primary-light: #EFF3F9;

$grey-dark: #172C33;
$grey-semidark: #2E4147;
$grey-regular: #45565C;
$grey-light: #6A787D;

$default-mask: #2E2E2E;

/*=============================================>>>>>
= Fonts =
===============================================>>>>>*/
$ff-muli: 'Muli', sans-serif;
$ff-adelle: 'Adelle', serif;

@mixin muli-extrabold {
  font-family: $ff-muli;
  font-weight: 800;
}

@mixin muli-bold {
  font-family: $ff-muli;
  font-weight: 700;
}

@mixin muli-semibold {
  font-family: $ff-muli;
  font-weight: 600;
}

@mixin muli-regular {
  font-family: $ff-muli;
  font-weight: 400;
}

@mixin muli-light {
  font-family: $ff-muli;
  font-weight: 300;
}

@mixin adelle-semibold {
  font-family: $ff-adelle;
  font-weight: 600;
}

/*=============================================>>>>>
= Padding/Margin =
===============================================>>>>>*/
$padding-small: 16px;
$double-padding-small: 32px;
$padding-regular: 20px;
$double-padding-regular: 40px;
$padding-large: 24px;
$double-padding-large: 48px;



/*=============================================>>>>>
= Z-Indexes =
===============================================>>>>>*/
$iframe-z-index:    100001;
$loading-z-index:   100000;
$menu-z-index:      99999;
$page-background-z-index: -9990;